/* line 2, ../assets/stylesheets/sass/override.scss */
.admin-menu #main_wrapper {
  padding-top: 29px;
}
/* line 5, ../assets/stylesheets/sass/override.scss */
.admin-menu .admin-menu-users {
  display: none;
  visibility: hidden;
}

/* line 15, ../assets/stylesheets/sass/override.scss */
.front .services-free p,
.front .services-basic p,
.front .services-plus p,
.front .services-pro p {
  text-indent: 27px;
}
@media all and (max-width: 767px) {
  /* line 23, ../assets/stylesheets/sass/override.scss */
  .front .services-free,
  .front .services-basic,
  .front .services-plus {
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
  }
}

/* line 31, ../assets/stylesheets/sass/override.scss */
.contact-featured-text p {
  padding: 20px 50px 0 50px;
  font-size: 18px;
}
/* line 35, ../assets/stylesheets/sass/override.scss */
.contact-featured-text .free-trial {
  padding-left: 50px;
}

/* line 39, ../assets/stylesheets/sass/override.scss */
.group_subscription_payment_info {
  padding: 20px;
  margin: 0 0 20px 20px;
  border: 1px solid #ddd;
}
/* line 43, ../assets/stylesheets/sass/override.scss */
.group_subscription_payment_info .subscription-image {
  padding-bottom: 10px;
}
/* line 46, ../assets/stylesheets/sass/override.scss */
.group_subscription_payment_info .payment-description {
  font-size: 24px;
  color: #bc101d;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 10px;
}

@media all and (max-width: 767px) {
  /* line 57, ../assets/stylesheets/sass/override.scss */
  .group_subscription_payment_info {
    padding: 10px;
    margin: 0 0 20px 0;
    border: 1px solid #ddd;
  }
  /* line 61, ../assets/stylesheets/sass/override.scss */
  .group_subscription_payment_info .subscription-image {
    padding-bottom: 10px;
    text-align: center;
  }
  /* line 65, ../assets/stylesheets/sass/override.scss */
  .group_subscription_payment_info .payment-description {
    font-size: 24px;
    color: #bc101d;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
  }
  /* line 72, ../assets/stylesheets/sass/override.scss */
  .group_subscription_payment_info .buy-now {
    max-width: 200px;
    margin: 0 auto;
  }
}
/* line 81, ../assets/stylesheets/sass/override.scss */
.view-id-products .views-row {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 86, ../assets/stylesheets/sass/override.scss */
.view-id-products .views-row .subscription-payment-description {
  font-size: 24px;
  color: #bc101d;
  padding-bottom: 10px;
}
/* line 91, ../assets/stylesheets/sass/override.scss */
.view-id-products .views-row .read-more {
  padding: 7px 14px 8px;
}
@media all and (max-width: 767px) {
  /* line 95, ../assets/stylesheets/sass/override.scss */
  .view-id-products .views-row .read-more {
    text-align: center;
    padding-top: 15px;
  }
}

/* line 104, ../assets/stylesheets/sass/override.scss */
.footer-full .copyright {
  font-size: 16px;
  padding-bottom: 15px;
}
/* line 109, ../assets/stylesheets/sass/override.scss */
.footer-full .legal a {
  font-size: 12px;
  padding: 0 5px;
}
